@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;400;600&display=swap');

body{
    font-family: 'Roboto Mono', monospace;
}

main{
    margin: 0px 80px 0px 80px;
}
.headerPage{
    width:100%;
    border-radius: 15px;
}
.headerPage  img{
    width: 100px;
}

#content-header{
    display: flex;
    height: 100px;
    color: #1482e2;
    background-color: white;
    margin: 0px 80px 0px 80px;

}
#content-left h1{
    font-family: c;

}
#content-left{
    width: 50%;
    display: flex;
    align-items: center;
    padding: 20px;
}

#content-left h4{
    margin: 0%;
    font-family: 'Courier New', Courier, monospace;
    padding: 30px;
}


#content-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content:space-between;
    padding: 40px 20px 0px 0px;
    
}
#contet-ringhtt{
    border-radius: 10px ;
   background-color: white;
   border: #37453e solid;
}
#content-right input{
    width: 150px;
    height: 20px;
    border: 0px;
    border-radius: 10px;
    color: rgb(34, 29, 29);
}
#content-right button{
    background-color: white;
    width: 20px;
    height: 20px;
    border: 0;
    text-align: center;
    border: 0px;
    border-radius: 10px;
    color: rgb(34, 29, 29);
}
#nav{
    padding-left: 60px;
    display: flex;
    background-color: rgb(78, 61, 207);
}
#nav  h4{
    margin: 5px 5px 5px 5px;
    background-color: #003fbc;
    height: 25px;
    width: 130px;
    text-align: center;
    display: i4nline-block;
    text-decoration: none;
    color:#fff;
    font-weight: bold;
    
}
#nav h4:hover{
    color: yellow;
    background-color: #51fda7;
}
#section-one,#section-two{
    display: flex;
    color: rgb(32, 33, 29);
}
#section-one{
    background-color: white;
}
#div2{
    width: 50%;
    margin: 30px;
}
#div2 button{
    margin-left: 110px;
    margin-top: 20px;
    background-color: #1482e2;
    width: 100px;
    height: 30px;
    border-radius: 10px 10px 10px 10px;

}
#div2 h5{
    background-color: yellow;
    margin-left: 5px;
}
#div2 h4{
    margin: 0%;
    margin-top: 25px;
    color: white;
    
}
#div2 a{
    margin: 0%;
    margin-top: 25px;
    color: yellow;
    
}
#div1{
    margin: 40px;
    width: 50%;
   
}
#section-two > div{
    width: 33%;
    margin: 30px;
}
#section-one div h3,#section-two div h3{
    margin:0px 0px 7px 0px;
    font-weight: bold;
}
#hr{
   
    margin: 0px 30px 0px 30px;
    
}
#section-two div h3{
    display: flex;
    justify-content: space-between;
}

#section-two div h3 img{
    width: 25px;
    height: 25px;
}
#section-two button{
    width: 100px;
    height: 20px;
    background-color: #003fbc;
    margin-left: 10px;
   margin-bottom: 20px;
    border: 0px;
    color: white;
}
#section-two div h2 {
   border-bottom: #37453e solid;
   margin-left: 10px;
   margin-right: 20px;
}
#section-one div p{
    text-align: justify;
    margin:0px 0px 7px 0px
}
.pf-50{
    margin-left: 10px;
   margin-right: 20px;
}

.pf-img{
    width: 180%;
    margin-left: 60px;
    align-items: center;
    
}

.pf-img > img{
    width: 50%;
    height: 300px;
    box-shadow: 8px 20px 20px 6px;
}
.pf-imga{
    width: 100%;
    margin-left: 60px;
    align-items: center;
}
#sec{
    border: #51fda7 solid;
}
#section-one ul{
    list-style-type: none;
}

#section-one ul li{
    display: flex;
    align-items: center;
    
}

#section-one ul li > img{
    width: 25px;
    height: 25px;
}



.content-link-date{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.content-link-date > div{
    box-shadow: 3px 3px #e2dea0;
    background-color: #faf3ca;
    text-align: center;
    padding: 5px;
    font-size: 1.5rem;
    color: #a09c69;
    line-height: 1;
    margin-right: 10px;
}

.content-link-date > div p{
    margin: 0;
}

hr{
    margin: 60px 30px 10px 30px;
}

footer{
    color: white;
    height: 20%;
    margin: 0px 80px 0px 80px;
}
footer > h2{
    margin-left: 5%;
    height: 30px;
    width: 90%;
    color: black;
    border-bottom: black solid;
}
#divb{
    background-color: aquamarine;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
#divb > p{
    text-align: left;
    margin: 30px;
    width: 75%;
    
}
#divb >button {
    border-radius: 10px;
    text-align: center;
    margin: 30px;
    border: #51fda7 solid;
    width: 25%;
    
}

.pf-imga{
    width: 100%;
    margin: 0%;
}
.pf-imga img{
    padding-left: 100px;
    width: 100px;
    height: 100px;
}
#imga img{
    width: 500px;
    height: 500px;
}
#imgf{
    padding-top: 30px;
    width: 30%;
    height: 30%;
}
#footer{
    height: 100px;
   
    display: flex;
}
#footer-left{
    width: 50%;
    display: flex;
}
#footer img {
    margin-left: 50px;
    width: 100%;
    height: 200%;
}
#textt{
    width: 400px;
   
    color: black;
   margin: 0%;
   padding: 0%;
}
#textt h2{
   padding-top: 20px;
    margin: 0%;
   
}
#textt h3{
    margin: 0%;
}